* {
	box-sizing: border-box;
}

body {
	background-image: url(../images/altbg.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.userInput {
	color: white;
	padding: 10px;
}


.outputBox {
}

.jumbotron {
	background: #7F2626;
	color: white;
	text-align: center;
	box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
}

.card {
	
	height: 375px;
	background: #7F2626;
	border-style: solid;
	border-width: 10px;
	border-color: #CC0000;
	margin: 10px;
	box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
}

.card-img-top {
	height: 150px;
	width: 150px;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border-style: solid;
	border-width: 5px;
	border-color: #CC0000;
	border-spacing: 5px;

}

.card-text {
	color: white;
	padding-left: 12px;
	padding-right: 12px;
	margin-top: 10px
	line-height: 18px;

}

.btn-danger {
	background: #CC0000;
	color: white;
	text-align: center;
	box-shadow: 10px 10px 5px rgba(0,0,0,0.5);

	
}

.btn {
	margin-top: 5px;
	margin-bottom: 5px;
}

.dropdown-item {
	background: #7F2626;
	color: white;
	text-align: center

}

@media (min-width: 992px){
.userInput {
    width: 200px;
}





}